@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

body {
  padding: 20px;
}

.post {
  margin: 10px 0px;
  width: 800px;
}
.post h3 {
  font-weight: 500px;
  margin-bottom: 15px;
}
